.service img {
    margin-top: 104px;
    width: 459px;
    height: 428px;
  }
  @media (max-width: 777px) {
    .service img {
      width: 80%;
      height: 80%;
      margin-top: 60px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .servComp p img {
    padding-right: 22.65px;
  }
  .check{
    width: 50px;
  }
  