/* Public */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
p {
  font-size: 14px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.navbar {
  background-color: #2a5dc4;
}

.rent {
  padding: 8px 12px;
  background: #ffa500;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 120px;
}
.rent2 {
  padding: 8px 12px;
  background: #ffa500;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  width: 120px;
}
.rent3 {
  padding: 8px 12px;
  background: #ffa500;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 120px;
}


.serv-detail h2 {
  margin-top: 136px;
}
.serv-detail p {
    margin-top: 20px;
}
@media (max-width: 777px) {
  .serv-detail h2 {
    margin-top: 24px;
  }
  div.col-3 {
    width: 100%;
  }
  div.col-6 {
    width: 100%;
  }
  div.col-2 {
    width: 100%;
  }
  div.col-4 {
    width: 100%;
  }
  div.col-8 {
    width: 100%;
  }
  div.col-9 {
    width: 100%;
  }
  .rent2 {
    display:block ;
    background: #ffa500;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: -10px;
    width: 120px;
  }
  .rent3 {
    display:block ;
    margin-top: 10%;
  }
  .offcanvas.offcanvas-end.show{
    width: 60%;
  }
  a.nav-link.dropdown-toggle.text-white.ms-auto{
    color: black!important;
  }
  .nav-item{
    margin-top: 2%!important;
  }
  .navbar-nav.ms-auto{
    margin-top: 0px;
  }
}
.bg-grey {
  background-color: white;
}
.bg-blue {
  background-color: #2a5dc4;
}
.blue {
  background-color: #2a5dc4;
  color: #ffffff;
}
.btn-red {
  margin-top: -8px;
  background-color: #fff3cd;
  color: #664d03;
}
.btn-red:hover {
  background-color: #bb2d3b;
  color: #ffffff;
}
.btn-blue {
  background-color: #2a5dc4;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #ffa500;
  color: #ffffff;
}
.btn-wish{
  height: fit-content;
}
.btn-wish:hover{
  background-color: #2a5dc4;
}
.btn-wish img {
  width: 20px;
}
.btn-filt:focus {
  color: white;
  background-color: #212529;
}
.margin{
  /* width: 70%; */
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.bg-orange {
  background-color: #ffa500;
}
.img-warning{
  width: 150px;
}