/* Public */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
p {
  font-size: 14px;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.navbar {
  background-color: #2a5dc4;
}

.rent {
  padding: 8px 12px;
  background: #ffa500;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}


.serv-detail h2 {
  margin-top: 136px;
}
.serv-detail p {
    margin-top: 20px;
}
@media (max-width: 777px) {
  .serv-detail h2 {
    margin-top: 24px;
  }
}
